#button-container {
    display: flex;
    position: absolute;
    justify-content: center;
    align-items: center;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
                
    margin: auto;
}
#rock{

    height: 200px;
    width: 200px;
}
#paper{
    
    height: 200px;
    width: 200px;
}
#scissors{
    
    height: 200px;
    width: 200px;
}
h2 {
    display: flex;
    justify-content: center;
    align-items: center;
}
#scores {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
#player {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#computer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: min-content;
    display: flex;
    justify-content: center;
    align-items: center;
}
