#button-container {
    display: flex;
    justify-content: center;
    align-items: center;
}
#rock{

    height: 200px;
    width: 200px;
}
#paper{
    
    height: 200px;
    width: 200px;
}
#scissors{
    
    height: 200px;
    width: 200px;
}
h2 {
    display: flex;
    justify-content: center;
    align-items: center;
}
#scores {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
#player {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#computer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
footer {
    display: flex;
    justify-content: center;
    align-items: center;
}